<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Store List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;width:100%;text-align: left;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;border-top-width:1px;border-bottom-width:1px;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:0px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#26ADE4;border-top-width:1px;border-bottom-width:1px;}
</style>
</head>
<body>
<strong>Last Service Updated: </strong><span th:text="${{response.lastUpdated}}" ></span>
<br/>
<table class="tg">
	<thead>
		<th>Post Code</th>
		<th>City</th>
		<th>Address</th>
		<th>Latitude</th>
		<th>Longitude</th>
	</thead>
	<tbody>
		<tr th:each="store:${response.stores}">
			<td th:text="${{store.postCode}}"/>
			<td th:text="${{store.cityName}}"/>
			<td th:text="${{store.address}}"/>
			<td th:text="${{store.latitude}}"/>
			<td th:text="${{store.longitude}}"/>
		</tr>
	</tbody>
</table>
</body>
</html>